@import "tailwindcss";

:root {
    --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #000000;
    }
}

body {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes top {
    from {
        top: -5%;
    }
    to {
        top: 5%;
    }
}

@keyframes circle {
    from {
        top: -100%;
    }
    to {
        top: -30%;
    }
}

@keyframes plus {
    from {
        bottom: 0%;
    }
    to {
        bottom: 10%;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.introText {
    font-size: 3.75rem;
    line-height: 4.5rem;
    font-weight: light;
    animation: fadein 1s;
    @media (max-width: 768px) {
        font-size: 2.25rem;
        line-height: 3.5rem;
    }
}

@keyframes bottom {
    from {
        top: -100%;
    }
    to {
        top: -30%;
    }
}

.nav {
    width: 100%;
    position: absolute;
    top: 5%;
    font-size: 1rem;
    font-weight: light;
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    animation: top 1s;
    @media (max-width: 768px) {
        font-size: 0.75rem;
        padding: 0rem 1rem;
    }
}

.circle {
    position: absolute;
    top: -30%;
    right: -15%;
    width: 50%;
    animation: circle 1s ease-out, rotate 15s linear infinite;
    object-fit: cover;
    overflow: hidden;
    @media (max-width: 768px) {
        display: none;
    }
}

.plus {
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 10%;
    display: flex;
    animation: plus 1s, fadein 1s;
    @media (max-width: 768px) {
        display: none;
    }
}

.box {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.25rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}

.box:hover {
    box-shadow: 0 10px 20px gray;
    padding: 1.5rem;
}

@media (max-width: 768px) {
    .box {
        gap: 0.75rem;
    }
}

@keyframes boxWrap {
    from {
        margin-top: 3rem;
    }
    to {
        margin-bottom: 0rem;
    }
}

.boxWrap {
    gap: 5rem;
    display: flex;
    align-items: center;
    animation: fadein 1s, boxWrap 1s ease-in-out;
    @media (max-width: 768px) {
        gap: 2.5rem;
    }
}
